#meusProjetos {

    .MeusProjetos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        min-height: 65vh;
        margin: 0 auto;
        gap: 50px;

        .Titulo {
            font-family: "Chakra Petch";
            text-decoration: none;
            font-size: 3rem;
            color: #d7f9ff;
            font-weight: bold;
            background: transparent;

            span {
                font-family: "Chakra Petch";
                text-decoration: none;
                font-size: 3rem;
                color: #0ef;
            }
        }
    }

    .projetos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        gap: 2rem;

        .projeto {
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: #021017;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
            border: 1px solid #060808;
            transition: all 0.3s ease;
            padding: 20px;
            grid-column: span 1;
            justify-content: space-between;

            &:hover {
                transform: scale(1.1);
                z-index: 2;
                border: 1px solid #0ef;

                .linkIcons a {
                    background: #0ef;
                    color: #081b29;
                    box-shadow: 0 0 20px #0fe;
                    border: none;

                    i {
                        background: transparent;
                    }
                }
            }

            .linkIcons {
                display: flex;
                flex-direction: row;
                gap: 10px;
                color: #d7f9ff;
                font-size: 25px;
                margin: 0;
                padding: 0;
                border: none;

                .saiba-mais {
                    display: flex;
                    flex-direction: row-reverse;
                    border-radius: 100px;
                    width: 105px;

                    i {
                        margin-left: px;
                    }

                    span {
                        font-size: 12px;
                        margin-left: 3px;
                    }
                }

                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    font-size: 20px;
                    color: #0ef;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

        img {
            width: 100%;
        }

        h4 {
            font-family: "Chakra Petch", sans-serif;
            text-decoration: none;
            color: #2bdefd;
            background: transparent;
            font-size: 24px;
            text-align: center;
        }

        p {
            font-family: "inter", sans-serif;
            text-decoration: none;
            color: #d7f9ff;
            background: transparent;
            font-size: 16px;
            text-align: justify;
            text-justify: auto;
        }
    }

}

.meu-modal {
    position: sticky;
    top: 10%;

    margin: 0 auto;
    display: flex;
    background: #021017;
    border: 0.5px solid rgba(216, 216, 216, 0.137) !important;
    width: 85dvw;
    height: 75dvh;


    &:focus {
        outline: none;
    }

    .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        background: none;
        border: none;
        color: #d7f9ff;
        cursor: pointer;

        &:hover {
            color: #0ef;
        }
    }

    .carroselDiv {
        width: clamp(400px, 60vw, 1000px);

        align-self: center;
        height: 100%;
        margin: 0;
        border-right: 0.5px solid rgba(216, 216, 216, 0.096);
        padding: 25px;
        background-color: #02030344;
        display: flex;
        align-content: center;

        img {
            border-radius: 10px;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 1fr;
        padding: 25px;
        gap: 15px;
        overflow: auto;


        h4 {
            color: #d7f9ff;
            font-size: 1.25vw;
        }

        span {
            display: flex;
            font-size: 1vw;
            color: rgba(0, 238, 255, 0.658);
            padding-bottom: 8px;
        }

        #modal-description {
            grid-area: descricao;
            color: #d7f9ff;
            text-align: justify;
            font-size: 1vw;
        }

        #tecnologias {
            grid-area: tecnologias;
            color: #d7f9ff;
            font-size: 1vw;

            .divTecs {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                .tec-1 {
                    background-color: rgba(0, 238, 255, 0.801);
                    color: #d7f9ff;
                    font-weight: 600;
                    font-size: 1vw;
                }

                .tec-2 {
                    background-color: #00c2cca9;
                    color: #d7f9ff;
                    font-weight: 600;
                    font-size: 1vw;
                }

                .tec-3 {
                    background-color: #074075c2;
                    color: #d7f9ff;
                    font-weight: 600;
                    font-size: 1vw;
                }

                .tec-4 {
                    background-color: rgba(0, 238, 255, 0.801);
                    color: #d7f9ff;
                    font-weight: 600;
                    font-size: 1vw;
                }

                .tec-5 {
                    background-color: #00464d;
                    color: #d7f9ff;
                    font-weight: 600;
                    font-size: 1vw;
                }

                .tec-6 {
                    background-color: #0095a0;
                    color: #d7f9ff;
                    font-weight: 600;
                    font-size: 1vw;
                }

                .tec-7 {
                    background-color: #00464d;
                    color: #d7f9ff;
                    font-weight: 600;
                    font-size: 1vw;
                }

                .tec-8 {
                    background-color: #00284dc2;
                    color: #d7f9ff;
                    font-weight: 600;
                    font-size: 1vw;
                }
            }

        }

        #participacao {
            grid-area: atuacao;
            color: #d7f9ff;
            text-align: justify;
            font-size: 1vw;
        }

        .carrosel {

            img {
                border-radius: 5px;
            }
        }
    }
}

.Fundo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.425);
}

@media screen and (width<770px) {
    #meusProjetos {
        .MeusProjetos {


            .Titulo,
            .Titulo span {
                font-size: 2rem;
                align-self: center;
            }

            .projetos {
                display: flex;
                flex-wrap: wrap;

                .projeto {
                    max-width: 100%;
                }
            }
        }
    }

    .meu-modal {
        top: 0;

        width: 100%;
        height: 100vh;

        display: flex;
        flex-wrap: wrap;
        background: #021017;
        border: none;
        padding: 0 ;
        border-radius: 0%;
        text-align: center;
        gap: 15px;
        overflow: auto;

        .modal-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            background: none;
            border: none;
            color: #d7f9ff;
            cursor: pointer;
            z-index: 2;

            &:hover {
                color: #0ef;
            }
        }

        .carroselDiv {
            width: 100%;
            height: auto;
            padding: 0;
        
            img {
                border-radius: 0px;
            }
        }

        .info {
            padding: 0 20px 50px;

            span {
                font-size: 1rem;
            }

            h4 {
                grid-area: titulo;
                color: #d7f9ff;
                font-size: 1.5rem;
            }

            #modal-description {
                grid-area: descricao;
                color: #d7f9ff;
                text-align: justify;
                font-size: 1rem;
            }

            #tecnologias {
                grid-area: tecnologias;
                color: #d7f9ff;

                .divTecs {
                    .tec-1 {
                        font-size: 1rem;
                    }

                    .tec-2 {
                        font-size: 1rem;
                    }

                    .tec-3 {
                        font-size: 1rem;
                    }

                    .tec-4 {
                        font-size: 1rem;
                    }

                    .tec-5 {
                        font-size: 1rem;
                    }

                    .tec-6 {
                        font-size: 1rem;
                    }

                    .tec-7 {
                        font-size: 1rem;
                    }

                    .tec-8 {
                        font-size: 1rem;
                    }
                }
            }

            .botoesLinks {
                a {
                    font-size: 1rem !important;
                }
            }

            #participacao {
                grid-area: atuacao;
                color: #d7f9ff;
                text-align: justify;
                font-size: 1rem;
            }
        }
    }

}