#meusProjetos {

    .MeusProjetos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        min-height: 65vh;
        margin: 0 auto;
        gap: 50px;

        .Titulo {
            font-family: "Chakra Petch";
            text-decoration: none;
            font-size: 3rem;
            color: #d7f9ff;
            font-weight: bold;
            background: transparent;

            span {
                font-family: "Chakra Petch";
                text-decoration: none;
                font-size: 3rem;
                color: #0ef;
            }
        }
    }

    .projetos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        gap: 2rem;

        .projeto {
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: #021017;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
            border: 1px solid #122a2e;
            transition: all 0.3s ease;
            padding: 20px;
            grid-column: span 1;
            justify-content: space-between;

            &:hover {
                transform: scale(1.1);
                z-index: 2;
                border: 1px solid #0ef;

                .linkIcons a {
                    background: #0ef;
                    color: #081b29;
                    box-shadow: 0 0 20px #0fe;
                    border: none;

                    i {
                        background: transparent;
                    }
                }
            }

            .linkIcons {
                display: flex;
                flex-direction: row;
                gap: 10px;
                color: #d7f9ff;
                font-size: 25px;
                margin: 0;
                padding: 0;
                border: none;

                .saiba-mais {
                    display: flex;
                    flex-direction: row-reverse;
                    border-radius: 100px;
                    width: 105px;

                    i {
                        margin-left: px;
                    }

                    span {
                        font-size: 12px;
                        margin-left: 3px;
                    }
                }

                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    font-size: 20px;
                    color: #0ef;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

        img {
            width: 100%;
        }

        h4 {
            font-family: "Chakra Petch", sans-serif;
            text-decoration: none;
            color: #2bdefd;
            background: transparent;
            font-size: 24px;
            text-align: center;
        }

        p {
            font-family: "inter", sans-serif;
            text-decoration: none;
            color: #d7f9ff;
            background: transparent;
            font-size: 16px;
            text-align: justify;
            text-justify: auto;
        }
    }

}

.meu-modal {
    position: sticky;
    top: 8%;
    margin: 0 auto;

    display: grid;
    grid-template-areas:
        "titulo   titulo   titulo"
        "carrosel carrosel descricao"
        "carrosel carrosel atuacao"
        "carrosel carrosel tecnologias";
    background: #021017;
    border: 0.5px solid #d7f9ff6c;
    padding: 20px;
    border-radius: 0%;
    width: 90vw;
    height: 80vh;
    text-align: center;
    gap: 20px;

    .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        background: none;
        border: none;
        color: #d7f9ff;
        cursor: pointer;

        &:hover {
            color: #0ef;
        }
    }

    h4 {
        grid-area: titulo;
        color: #d7f9ff;

    }

    div {
        grid-area: carrosel;
    }

    #modal-description {
        grid-area: descricao;
        color: #d7f9ff;
        text-align: justify;
    }

    #tecnologias {
        grid-area: tecnologias;
        color: #d7f9ff;
    }

    #participacao {
        grid-area: atuacao;
        color: #d7f9ff;
        text-align: justify;
    }

    .carrosel{
        grid-area: carrosel;

        img{
            border-radius: 5px;
        }
    }
}

.Fundo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.425);
}

@media screen and (max-width:770px) {
    #meusProjetos {
        .MeusProjetos {


            .Titulo,
            .Titulo span {
                font-size: 2rem;
                align-self: center;
            }

            .projetos {
                display: flex;
                flex-wrap: wrap;

                .projeto {
                    max-width: 100%;
                }
            }
        }
    }

    .meu-modal {
        top: 0;
        
        width: 100%;
        height: 100vh;

        display: grid;
        grid-template-areas:
            "titulo"
            "carrosel " 
            "descricao"
            "atuacao"
            "tecnologias";
        background: #021017;
        border: none;
        padding: 0% !important;
        border-radius: 0%;
        text-align: center;
        gap: 20px;

        .modal-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 30px;
            background: none;
            border: none;
            color: #d7f9ff;
            cursor: pointer;

            &:hover {
                color: #0ef;
            }
        }

        h4 {
            grid-area: titulo;
            color: #d7f9ff;
            padding-top: 20px;
        }

        #modal-description {
            grid-area: descricao;
            color: #d7f9ff;
            text-align: justify;
            padding: 10px;
        }

        #tecnologias {
            grid-area: tecnologias;
            color: #d7f9ff;
        }

        #participacao {
            grid-area: atuacao;
            color: #d7f9ff;
            text-align: justify;
            padding: 10px;
        }

        .carrosel {
            grid-area: carrosel;
            
            img{
                border-radius: 0;
            }
        }
    }

}