#sobreMim {
    width: 100%;
    min-height: 80vh;
    display: flex;

    .sobre-mim {
        display: flex;
        flex-direction: column;
        gap: 100px;
        justify-content: space-around;
        padding-top: 5%;
        .info {
            display: grid;
            grid-template-areas:
                "png titulo"
                "png descricao";
            grid-template-columns: 400px 1fr ;
            grid-template-rows: 50px 1fr;
            gap: 70px;

            h2 {
                padding-left: 10%;
                font-size: 3rem;
                grid-area: titulo;
                text-align: left;
                justify-content: center;
            }

            p {
                padding-left: 10%;
                grid-area: descricao;
                text-align: justify;
                display: block;

                .tec1{
                    color: aquamarine;
                    font-weight: bold;
                }
                .tec2{
                    color: rgb(65, 194, 199);
                    font-weight: bold;
                }
                .tec3{
                    color: rgb(119, 185, 99);
                    font-weight: bold;
                }
            }

            img {
                grid-area: png;
                width: 100%;
                justify-items: start;
                filter: invert(90%);
            }
        }

        .tecno {
            padding-block:8% ;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            h2 {
                font-size: 3rem;
                padding-bottom: 30px;
                grid-area: titulo;
                align-self: flex-start;
            }

            .carrossel {
                width: 100%;
                overflow: hidden;
            }

            .swiper {
                display: grid;
                grid-auto-flow: column;
                overflow: visible;
                grid-auto-columns: 250px;
                justify-items: stretch;
                animation: deslizar 15s linear infinite;

                &:hover {
                    animation-play-state: paused;
                }

                img {
                    height: 50px;
                    object-fit: contain;
                    filter: grayscale(1);

                    &:hover {
                        filter: grayscale(0);
                    }

                    align-self: center;

                }
            }

        }

        h2 {
            font-family: "Chakra Petch";
            text-decoration: none;
            font-size: 45px;
            color: #d7f9ff;
            font-weight: bold;
            background: transparent;
        }

        p {
            font-family: 'Inter', sans-serif !important;
            font-weight: 400;
            font-size: 1rem;
            color: #d7f9ff;
        }
    }
}

@keyframes deslizar {
    to {
        translate: calc(-10 * 250px);
    }
}

@keyframes deslizar-mobile {
    to {
        translate: calc(-10 * 150px);
    }
}

@media screen and (max-width:770px) {
    #sobreMim {
        .sobre-mim {

            .info {
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 2rem;
                    padding-left: 0%;
                    text-align: center;
                }

                img {
                    display: none;
                }

                p{
                    padding-left: 0;
                    padding: 1%;
                }
            }

            .tecno {
                display: block;

                h2 {
                    font-size: 2rem;
                    text-align: center;
                }

                .carrossel {
                    .swiper {
                        grid-auto-columns: 150px;
                        animation: deslizar-mobile 10s linear infinite;

                        img {
                            filter: grayscale(0);
                            height: 30px;
                        }
                    }
                }

            }
        }
    }
}

.fundo-section {
    position: relative;
    width: 100vw;
    background: #01080e8f;
    padding: 60px 0;
    backdrop-filter: blur(10px);
}